<br>
<footer class="row">
    <p class="column">
        {% if site.cclicense %}
          <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank">
              <img alt="Creative Commons License"
                   style="border-width:0; display:inline"
                   src="https://i.creativecommons.org/l/{{ site.cclicense }}/4.0/80x15.png" />
              <i class="fa fa-external-link"></i></a>
        {% else %}
          <small>&copy;</small>
        {% endif %}
        <small> {{ site.author }} 2017-2020. <a href="#">Jump to top</a>.</small>
    </p>
    <p class="column maybe-right">
        <small>
            Powered by
            <a href="https://jekyllrb.com" target="_blank">Jekyll
                <i class="fa fa-external-link"></i></a>, hosted on
            <a href="https://about.gitlab.com/stages-devops-lifecycle/pages" target="_blank">GitLab
                <i class="fa fa-external-link"></i></a>.
        </small>
    </p>
</footer>
