/**
 * _sass/_colors.scss
 *
 * Color definitions for site.
 *
 * Will Badart <wbadart@live.com>
 * created: JAN 2017
 */

$site-background:   #282828;
$header-fg:         #ffffff;
$body-fg:           #ffffff;
