---
layout: base
permalink: /archive
---

{% assign groups = site.posts
    | group_by_exp:"post", "post.date | date:'%B %Y'" %}
<ul style="list-style:none">
    {% for date in groups %}
      <li>
          <h2>{{ date.name }}</h2>
          <ul>
              {% for post in date.items %}
                <li class="bigger">
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
              {% endfor %}
          </ul>
          <br>
      </li>
    {% endfor %}
</ul>

<hr>
