<!doctype html>
<html lang="en" style="height:100%">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- <title>{{ site.title }}</title> -->
    <title>Blog | Will Badart</title>
    <link rel="stylesheet" href="{{ site.global_styles | relative_url }}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body class="container" style="height:100%;">

    <div style="display:flex;justify-content:center;flex-direction:column;height:100%">
        <h1>Under Construction</h1>
        <p>
            This is the blog of
            <a href="https://wbadart.info" title="Will Badart homepage" target="_blank">
                <i class="fa fa-external-link" style="font-size:0.6em;margin-right:0.2em"></i>Will Badart</a>.
            Please come back soon!
        </p>
    </div>


    <!-- <header class="row"> -->
    <!--     <center class="column"> -->
    <!--         <h1>{{ site.title }}</h1> -->
    <!--         <p>{{ site.description }}</p> -->
    <!--     </center> -->
    <!-- </header> -->

    <!-- <main> -->
    <!-- {% for post in site.posts %} -->
    <!--     <div class="row"> -->
    <!--         <div class="column"> -->
    <!--             <h2>{{ post.title }}</h2> -->
    <!--             <p>{{ post.excerpt }}</p> -->
    <!--         </div> -->
    <!--     </div> -->
    <!-- {% endfor %} -->
    <!-- </main> -->

    <!-- <footer> -->
    <!--     <hr> -->
    <!--     <div class="row"> -->
    <!--     {% for page in site.pages %} -->
    <!--     {% if page.categories contains 'meta' %} -->
    <!--         <div class="column"> -->
    <!--             <p><a href="{{ page.url }}">{{ page.title }}</a></p> -->
    <!--         </div> -->
    <!--     {% endif %} -->
    <!--     {% endfor %} -->
    <!--     <center class="row"> -->
    <!--         <p>&copy; 2018 <a href="https://wbadart.info">Will Badart</a></p> -->
    <!--     </center> -->
    <!-- </footer> -->

</body>
</html>
